In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
credit_data= pd.read_csv("tmdb_5000_credits.csv")
movie_data= pd.read_csv("tmdb_5000_movies.csv")

In [3]:
movie_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credit_data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
credit_data.rename(columns = {'movie_id':'id'},inplace =True)

In [6]:
credit_data

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
movie_data= movie_data.merge(credit_data,on ='id')

In [8]:
movie_data.shape

(4803, 23)

In [9]:
movie_data.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [10]:
movie_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movie_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [12]:
df = movie_data[['id','genres','keywords','original_title','cast','crew']]

In [13]:
df.dtypes

id                 int64
genres            object
keywords          object
original_title    object
cast              object
crew              object
dtype: object

In [14]:
df.loc[0,'keywords']

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [15]:
import json
a = json.loads('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
df['genres']=df['genres'].apply( lambda x : json.loads(x))
df['keywords']=df['keywords'].apply( lambda x : json.loads(x))
df['cast']=df['cast'].apply( lambda x : json.loads(x))
df['crew']=df['crew'].apply( lambda x : json.loads(x))

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3106179679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres']=df['genres'].apply( lambda x : json.loads(x))
C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3106179679.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords']=df['keywords'].apply( lambda x : json.loads(x))
C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3106179679.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply( lambda x : json.loads(x))
C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3106179679.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew']=df['crew'].apply( lambda x : json.loads(x))

In [16]:
a =df.loc[0,'genres']

In [17]:
df.head()

,id,genres,keywords,original_title,cast,crew
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...",Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,285,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,206647,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,49026,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,49529,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...",John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [18]:
def create(c):
    b=[]
    for i in c:
        b.append(i['name'])
    return b

In [19]:
df.genres = df.genres.apply(create)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\1473297476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.genres = df.genres.apply(create)

In [20]:
df.head()

,id,genres,keywords,original_title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{'id': 1463, 'name': 'culture clash'}, {'id':...",Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,285,"[Adventure, Fantasy, Action]","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,206647,"[Action, Adventure, Crime]","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,49026,"[Action, Crime, Drama, Thriller]","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,49529,"[Action, Adventure, Science Fiction]","[{'id': 818, 'name': 'based on novel'}, {'id':...",John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [21]:
df.keywords =df.keywords.apply(create)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2265618440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.keywords =df.keywords.apply(create)

In [22]:
df['overview']=movie_data.overview

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2251396356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview']=movie_data.overview

In [23]:
df.head()

,id,genres,keywords,original_title,cast,crew,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","John Carter is a war-weary, former military ca..."

In [24]:
def createcast(c):
    b=[]
    flag =0 ;
    for i in c:
        if flag<3:
            b.append(i['name'])
    return b

In [25]:
df.cast=df.cast.apply(createcast)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2374914498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.cast=df.cast.apply(createcast)

In [26]:
def createcrew(c):
    b=[]
    flag =0 ;
    for i in c:
        if i['job'] == 'Director':
            b.append(i['name'])
    return b

In [27]:
df.crew=df.crew.apply(createcrew)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3491054750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.crew=df.crew.apply(createcrew)

In [28]:
df.head()

,id,genres,keywords,original_title,cast,crew,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"John Carter is a war-weary, former military ca..."

In [29]:
df.dropna(inplace= True)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\1124485253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace= True)

In [30]:
df.head()

,id,genres,keywords,original_title,cast,crew,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"In the 22nd century, a paraplegic Marine is di..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],A cryptic message from Bond’s past sends him o...
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],Following the death of District Attorney Harve...
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"John Carter is a war-weary, former military ca..."

In [31]:
df.overview[1].split()

['Captain',
 'Barbossa,',
 'long',
 'believed',
 'to',
 'be',
 'dead,',
 'has',
 'come',
 'back',
 'to',
 'life',
 'and',
 'is',
 'headed',
 'to',
 'the',
 'edge',
 'of',
 'the',
 'Earth',
 'with',
 'Will',
 'Turner',
 'and',
 'Elizabeth',
 'Swann.',
 'But',
 'nothing',
 'is',
 'quite',
 'as',
 'it',
 'seems.']

In [32]:
df.overview = df.overview.apply(lambda x : x.split())

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\601849326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.overview = df.overview.apply(lambda x : x.split())

In [33]:
df.head()

,id,genres,keywords,original_title,cast,crew,overview
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
def spd(a):
    bd=[]
    for i in a:
        bd.append(i.replace(" ",""))
    return bd

In [35]:
df.cast =df.cast.apply(spd)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3272771401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.cast =df.cast.apply(spd)

In [36]:
df.genres =df.genres.apply(spd)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2095882627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.genres =df.genres.apply(spd)

In [37]:
df.keywords =df.keywords.apply(spd)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3098853211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.keywords =df.keywords.apply(spd)

In [38]:
df.crew =df.crew.apply(spd)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\3094291219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.crew =df.crew.apply(spd)

In [39]:
df.overview =df.overview.apply(spd)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2966651804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.overview =df.overview.apply(spd)

In [40]:
df.head()

,id,genres,keywords,original_title,cast,crew,overview
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [41]:
df['tags']= df['genres']+df.keywords+df.cast+df.crew+df.overview

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\580074243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']= df['genres']+df.keywords+df.cast+df.crew+df.overview

In [42]:
final_df= df[['id','original_title','tags']]

In [43]:
test_df=final_df

In [44]:
final_df.head()

,id,original_title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [45]:
final_df.tags=final_df.tags.apply(lambda x: " ".join(x))

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\302930225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.tags=final_df.tags.apply(lambda x: " ".join(x))

In [46]:
final_df.head()

,id,original_title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [47]:
final_df.tags[1]

"Adventure Fantasy Action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger JohnnyDepp OrlandoBloom KeiraKnightley StellanSkarsgård ChowYun-fat BillNighy GeoffreyRush JackDavenport KevinMcNally TomHollander NaomieHarris JonathanPryce KeithRichards LeeArenberg MackenzieCrook GregEllis DavidBailie MartinKlebba DavidSchofield LaurenMaher VanessaBranch AngusBarnett GilesNew ReggieLee DominicScottKay TakayoFischer DavidMeunier Ho-KwanTse AndyBeckwith PeterDonaldBadalamentiII ChristopherS.Capp KeithRichards HakeemKae-Kazim GhassanMassoud GoreVerbinski Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems."

In [48]:
final_df.tags=final_df.tags.apply(lambda x: x.lower())

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\2199371176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.tags=final_df.tags.apply(lambda x: x.lower())

In [49]:
final_df.head()

,id,original_title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [50]:
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download the WordNet resource (needed for lemmatization)
import nltk
nltk.download('wordnet')
nltk.download('punkt')


# Create a WordNet lemmatizer
lemmatizer = WordNetLemmatizer()

# Function to apply lemmatization to a text
def lemmatize_text(text):
    tokens = word_tokenize(text)
    #print(tokens)
    lemmatized_tokens = [lemmatizer.lemmatize(token,"v") for token in tokens]
    #print(lemmatized_tokens)
    return ' '.join(lemmatized_tokens)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\saikr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\saikr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [51]:
final_df['tags'] = final_df['tags'].apply(lemmatize_text)

C:\Users\saikr\AppData\Local\Temp\ipykernel_11912\389877336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lemmatize_text)

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=7500,stop_words='english')

In [55]:
vectors = cv.fit_transform(final_df.tags).toarray()

In [56]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [57]:
len(cv.get_feature_names_out())

7500

In [58]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [60]:
similarity=cosine_similarity(vectors)

In [72]:
def recommend(movie):
    index= final_df[final_df['original_title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(final_df.iloc[i[0]].original_title)
    return

In [76]:
recommend('Superman Returns')

Superman II
Superman IV: The Quest for Peace
Superman III
Superman
Man of Steel

In [71]:
final_df.head()

,id,original_title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [77]:
import pickle

In [79]:
pickle.dump(final_df.to_dict(),open('movies_dict.pkl','wb'))

In [81]:
final_df.to_dict()['original_title']

{0: 'Avatar',
 1: "Pirates of the Caribbean: At World's End",
 2: 'Spectre',
 3: 'The Dark Knight Rises',
 4: 'John Carter',
 5: 'Spider-Man 3',
 6: 'Tangled',
 7: 'Avengers: Age of Ultron',
 8: 'Harry Potter and the Half-Blood Prince',
 9: 'Batman v Superman: Dawn of Justice',
 10: 'Superman Returns',
 11: 'Quantum of Solace',
 12: "Pirates of the Caribbean: Dead Man's Chest",
 13: 'The Lone Ranger',
 14: 'Man of Steel',
 15: 'The Chronicles of Narnia: Prince Caspian',
 16: 'The Avengers',
 17: 'Pirates of the Caribbean: On Stranger Tides',
 18: 'Men in Black 3',
 19: 'The Hobbit: The Battle of the Five Armies',
 20: 'The Amazing Spider-Man',
 21: 'Robin Hood',
 22: 'The Hobbit: The Desolation of Smaug',
 23: 'The Golden Compass',
 24: 'King Kong',
 25: 'Titanic',
 26: 'Captain America: Civil War',
 27: 'Battleship',
 28: 'Jurassic World',
 29: 'Skyfall',
 30: 'Spider-Man 2',
 31: 'Iron Man 3',
 32: 'Alice in Wonderland',
 33: 'X-Men: The Last Stand',
 34: 'Monsters University',
 35: 'Transformers: Revenge of the Fallen',
 36: 'Transformers: Age of Extinction',
 37: 'Oz: The Great and Powerful',
 38: 'The Amazing Spider-Man 2',
 39: 'TRON: Legacy',
 40: 'Cars 2',
 41: 'Green Lantern',
 42: 'Toy Story 3',
 43: 'Terminator Salvation',
 44: 'Furious 7',
 45: 'World War Z',
 46: 'X-Men: Days of Future Past',
 47: 'Star Trek Into Darkness',
 48: 'Jack the Giant Slayer',
 49: 'The Great Gatsby',
 50: 'Prince of Persia: The Sands of Time',
 51: 'Pacific Rim',
 52: 'Transformers: Dark of the Moon',
 53: 'Indiana Jones and the Kingdom of the Crystal Skull',
 54: 'The Good Dinosaur',
 55: 'Brave',
 56: 'Star Trek Beyond',
 57: 'WALL·E',
 58: 'Rush Hour 3',
 59: '2012',
 60: 'A Christmas Carol',
 61: 'Jupiter Ascending',
 62: 'The Legend of Tarzan',
 63: 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 64: 'X-Men: Apocalypse',
 65: 'The Dark Knight',
 66: 'Up',
 67: 'Monsters vs Aliens',
 68: 'Iron Man',
 69: 'Hugo',
 70: 'Wild Wild West',
 71: 'The Mummy: Tomb of the Dragon Emperor',
 72: 'Suicide Squad',
 73: 'Evan Almighty',
 74: 'Edge of Tomorrow',
 75: 'Waterworld',
 76: 'G.I. Joe: The Rise of Cobra',
 77: 'Inside Out',
 78: 'The Jungle Book',
 79: 'Iron Man 2',
 80: 'Snow White and the Huntsman',
 81: 'Maleficent',
 82: 'Dawn of the Planet of the Apes',
 83: 'The Lovers',
 84: '47 Ronin',
 85: 'Captain America: The Winter Soldier',
 86: 'Shrek Forever After',
 87: 'Tomorrowland',
 88: 'Big Hero 6',
 89: 'Wreck-It Ralph',
 90: 'The Polar Express',
 91: 'Independence Day: Resurgence',
 92: 'How to Train Your Dragon',
 93: 'Terminator 3: Rise of the Machines',
 94: 'Guardians of the Galaxy',
 95: 'Interstellar',
 96: 'Inception',
 97: 'シン・ゴジラ',
 98: 'The Hobbit: An Unexpected Journey',
 99: 'The Fast and the Furious',
 100: 'The Curious Case of Benjamin Button',
 101: 'X-Men: First Class',
 102: 'The Hunger Games: Mockingjay - Part 2',
 103: "The Sorcerer's Apprentice",
 104: 'Poseidon',
 105: 'Alice Through the Looking Glass',
 106: 'Shrek the Third',
 107: 'Warcraft',
 108: 'Terminator Genisys',
 109: 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 110: 'Pearl Harbor',
 111: 'Transformers',
 112: 'Alexander',
 113: 'Harry Potter and the Order of the Phoenix',
 114: 'Harry Potter and the Goblet of Fire',
 115: 'Hancock',
 116: 'I Am Legend',
 117: 'Charlie and the Chocolate Factory',
 118: 'Ratatouille',
 119: 'Batman Begins',
 120: 'Madagascar: Escape 2 Africa',
 121: 'Night at the Museum: Battle of the Smithsonian',
 122: 'X-Men Origins: Wolverine',
 123: 'The Matrix Revolutions',
 124: 'Frozen',
 125: 'The Matrix Reloaded',
 126: 'Thor: The Dark World',
 127: 'Mad Max: Fury Road',
 128: 'Angels & Demons',
 129: 'Thor',
 130: 'Bolt',
 131: 'G-Force',
 132: 'Wrath of the Titans',
 133: 'Dark Shadows',
 134: 'Mission: Impossible - Rogue Nation',
 135: 'The Wolfman',
 136: 'Bee Movie',
 137: 'Kung Fu Panda 2',
 138: 'The Last Airbender',
 139: 'Mission: Impossible III',
 140: 'White House Down',
 141: 'Mars Needs Moms',
 142: 'Flushed Away',
 143: 'Pan',
 144: 'Mr. Peabody & Sherman',
 145: 'Troy',
 146: "Madagascar 3: Europe's Most Wanted",
 147: 'Die Another Day',
 148: 'Ghostbusters',
 149: 'Armageddon',
 150: 'Men in Black II',
 151: 'Beowulf',
 152: 'Kung Fu Panda 3',
 153: 'Mission: Impossible - Ghost Protocol',
 154: 'Rise of the Guardians',
 155: 'Fun with Dick and Jane',
 156: 'The Last Samurai',
 157: 'Exodus: Gods and Kings',
 158: 'Star Trek',
 159: 'Spider-Man',
 160: 'How to Train Your Dragon 2',
 161: 'Gods of Egypt',
 162: 'Stealth',
 163: 'Watchmen',
 164: 'Lethal Weapon 4',
 165: 'Hulk',
 166: 'G.I. Joe: Retaliation',
 167: 'Sahara',
 168: 'Final Fantasy: The Spirits Within',
 169: 'Captain America: The First Avenger',
 170: 'The World Is Not Enough',
 171: 'Master and Commander: The Far Side of the World',
 172: 'The Twilight Saga: Breaking Dawn - Part 2',
 173: 'Happy Feet Two',
 174: 'The Incredible Hulk',
 175: 'The BFG',
 176: 'The Revenant',
 177: 'Turbo',
 178: 'Rango',
 179: 'Penguins of Madagascar',
 180: 'The Bourne Ultimatum',
 181: 'Kung Fu Panda',
 182: 'Ant-Man',
 183: 'The Hunger Games: Catching Fire',
 184: 'Home',
 185: 'War of the Worlds',
 186: 'Bad Boys II',
 187: 'Puss in Boots',
 188: 'Salt',
 189: 'Noah',
 190: 'The Adventures of Tintin',
 191: 'Harry Potter and the Prisoner of Azkaban',
 192: 'Australia',
 193: 'After Earth',
 194: 'Dinosaur',
 195: 'Night at the Museum: Secret of the Tomb',
 196: 'Megamind',
 197: "Harry Potter and the Philosopher's Stone",
 198: 'R.I.P.D.',
 199: 'Pirates of the Caribbean: The Curse of the Black Pearl',
 200: 'The Hunger Games: Mockingjay - Part 1',
 201: 'The Da Vinci Code',
 202: 'Rio 2',
 203: 'X2',
 204: 'Fast Five',
 205: 'Sherlock Holmes: A Game of Shadows',
 206: 'Clash of the Titans',
 207: 'Total Recall',
 208: 'The 13th Warrior',
 209: 'The Bourne Legacy',
 210: 'Batman & Robin',
 211: 'How the Grinch Stole Christmas',
 212: 'The Day After Tomorrow',
 213: 'Mission: Impossible II',
 214: 'The Perfect Storm',
 215: '4: Rise of the Silver Surfer',
 216: 'Life of Pi',
 217: 'Ghost Rider',
 218: 'Jason Bourne',
 219: "Charlie's Angels: Full Throttle",
 220: 'Prometheus',
 221: 'Stuart Little 2',
 222: 'Elysium',
 223: 'The Chronicles of Riddick',
 224: 'RoboCop',
 225: 'Speed Racer',
 226: 'How Do You Know',
 227: 'Knight and Day',
 228: 'Oblivion',
 229: 'Star Wars: Episode III - Revenge of the Sith',
 230: 'Star Wars: Episode II - Attack of the Clones',
 231: 'Monsters, Inc.',
 232: 'The Wolverine',
 233: 'Star Wars: Episode I - The Phantom Menace',
 234: 'The Croods',
 235: 'Astérix aux Jeux Olympiques',
 236: 'Windtalkers',
 237: "The Huntsman: Winter's War",
 238: 'Teenage Mutant Ninja Turtles',
 239: 'Gravity',
 240: "Dante's Peak",
 241: 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 242: 'Fantastic Four',
 243: 'Night at the Museum',
 244: 'San Andreas',
 245: 'Tomorrow Never Dies',
 246: 'The Patriot',
 247: "Ocean's Twelve",
 248: 'Mr. & Mrs. Smith',
 249: 'Insurgent',
 250: 'The Aviator',
 251: "Gulliver's Travels",
 252: 'The Green Hornet',
 253: '300: Rise of an Empire',
 254: 'The Smurfs',
 255: 'Home on the Range',
 256: 'Allegiant',
 257: 'Real Steel',
 258: 'The Smurfs 2',
 259: 'Speed 2: Cruise Control',
 260: "Ender's Game",
 261: 'Live Free or Die Hard',
 262: 'The Lord of the Rings: The Fellowship of the Ring',
 263: 'Around the World in 80 Days',
 264: 'Ali',
 265: 'The Cat in the Hat',
 266: 'I, Robot',
 267: 'Kingdom of Heaven',
 268: 'Stuart Little',
 269: 'The Princess and the Frog',
 270: 'The Martian',
 271: 'The Island',
 272: 'Town & Country',
 273: 'Gone in Sixty Seconds',
 274: 'Gladiator',
 275: 'Minority Report',
 276: 'Harry Potter and the Chamber of Secrets',
 277: 'Casino Royale',
 278: 'Planet of the Apes',
 279: 'Terminator 2: Judgment Day',
 280: 'Public Enemies',
 281: 'American Gangster',
 282: 'True Lies',
 283: 'The Taking of Pelham 1 2 3',
 284: 'Little Fockers',
 285: 'The Other Guys',
 286: 'Eraser',
 287: 'Django Unchained',
 288: 'The Hunchback of Notre Dame',
 289: "The Emperor's New Groove",
 290: 'The Expendables 2',
 291: 'National Treasure',
 292: 'Eragon',
 293: 'Where the Wild Things Are',
 294: 'Epic',
 295: 'The Tourist',
 296: 'End of Days',
 297: 'Blood Diamond',
 298: 'The Wolf of Wall Street',
 299: 'Batman Forever',
 300: 'Starship Troopers',
 301: 'Cloud Atlas',
 302: "Legend of the Guardians: The Owls of Ga'Hoole",
 303: 'Catwoman',
 304: 'Hercules',
 305: 'Treasure Planet',
 306: 'Land of the Lost',
 307: 'The Expendables 3',
 308: 'Point Break',
 309: 'Son of the Mask',
 310: 'In the Heart of the Sea',
 311: 'The Adventures of Pluto Nash',
 312: 'Green Zone',
 313: 'The Peanuts Movie',
 314: 'The Spanish Prisoner',
 315: 'The Mummy Returns',
 316: 'Gangs of New York',
 317: '金陵十三釵',
 318: "Surf's Up",
 319: 'The Stepford Wives',
 320: 'Black Hawk Down',
 321: 'The Campaign',
 322: 'The Fifth Element',
 323: 'Sex and the City 2',
 324: 'The Road to El Dorado',
 325: 'Ice Age: Continental Drift',
 326: 'Cinderella',
 327: 'The Lovely Bones',
 328: 'Finding Nemo',
 329: 'The Lord of the Rings: The Return of the King',
 330: 'The Lord of the Rings: The Two Towers',
 331: 'Seventh Son',
 332: 'Lara Croft: Tomb Raider',
 333: 'Transcendence',
 334: 'Jurassic Park III',
 335: 'Rise of the Planet of the Apes',
 336: 'The Spiderwick Chronicles',
 337: 'A Good Day to Die Hard',
 338: 'The Alamo',
 339: 'The Incredibles',
 340: 'Cutthroat Island',
 341: 'Percy Jackson & the Olympians: The Lightning Thief',
 342: 'Men in Black',
 343: 'Toy Story 2',
 344: 'Unstoppable',
 345: 'Rush Hour 2',
 346: 'What Lies Beneath',
 347: 'Cloudy with a Chance of Meatballs',
 348: 'Ice Age: Dawn of the Dinosaurs',
 349: 'The Secret Life of Walter Mitty',
 350: "Charlie's Angels",
 351: 'The Departed',
 352: 'Mulan',
 353: 'Tropic Thunder',
 354: 'The Girl with the Dragon Tattoo',
 355: 'Die Hard: With a Vengeance',
 356: 'Sherlock Holmes',
 357: 'Ben-Hur',
 358: 'Atlantis: The Lost Empire',
 359: 'Alvin and the Chipmunks: The Road Chip',
 360: 'Valkyrie',
 361: "You Don't Mess with the Zohan",
 362: 'Pixels',
 363: 'A.I. Artificial Intelligence',
 364: 'The Haunted Mansion',
 365: 'Contact',
 366: 'Hollow Man',
 367: 'The Interpreter',
 368: 'Percy Jackson: Sea of Monsters',
 369: 'Lara Croft Tomb Raider: The Cradle of Life',
 370: 'Now You See Me 2',
 371: 'The Saint',
 372: 'Spy Game',
 373: 'Mission to Mars',
 374: 'Rio',
 375: 'Bicentennial Man',
 376: 'Volcano',
 377: "The Devil's Own",
 378: 'K-19: The Widowmaker',
 379: 'Conan the Barbarian',
 380: 'Cinderella Man',
 381: 'The Nutcracker: The Untold Story',
 382: 'Seabiscuit',
 383: 'Twister',
 384: 'Cast Away',
 385: 'Happy Feet',
 386: 'The Bourne Supremacy',
 387: 'Air Force One',
 388: "Ocean's Eleven",
 389: 'The Three Musketeers',
 390: 'Hotel Transylvania',
 391: 'Enchanted',
 392: 'Safe House',
 393: '102 Dalmatians',
 394: 'Tower Heist',
 395: 'The Holiday',
 396: 'Enemy of the State',
 397: "It's Complicated",
 398: "Ocean's Thirteen",
 399: 'Open Season',
 400: 'Divergent',
 401: 'Enemy at the Gates',
 402: 'The Rundown',
 403: 'Last Action Hero',
 404: 'Memoirs of a Geisha',
 405: 'The Fast and the Furious: Tokyo Drift',
 406: 'Arthur Christmas',
 407: 'Meet Joe Black',
 408: 'Collateral Damage',
 409: 'All That Jazz',
 410: 'Mirror Mirror',
 411: 'Scott Pilgrim vs. the World',
 412: 'The Core',
 413: 'Nutty Professor II: The Klumps',
 414: 'Scooby-Doo',
 415: 'Dredd',
 416: 'Click',
 417: 'Creepshow',
 418: 'Cats & Dogs 2 : The Revenge of Kitty Galore',
 419: 'Jumper',
 420: 'Hellboy II: The Golden Army',
 421: 'Zodiac',
 422: 'The 6th Day',
 423: 'Bruce Almighty',
 424: 'The Expendables',
 425: 'Mission: Impossible',
 426: 'The Hunger Games',
 427: 'The Hangover Part II',
 428: 'Batman Returns',
 429: 'Over the Hedge',
 430: 'Lilo & Stitch',
 431: "Charlotte's Web",
 432: 'Deep Impact',
 433: 'RED 2',
 434: 'The Longest Yard',
 435: 'Alvin and the Chipmunks: Chipwrecked',
 436: 'Grown Ups 2',
 437: 'Get Smart',
 438: "Something's Gotta Give",
 439: 'Shutter Island',
 440: 'Four Christmases',
 441: 'Robots',
 442: 'Face/Off',
 443: 'Bedtime Stories',
 444: 'Road to Perdition',
 445: 'Just Go with It',
 446: 'Con Air',
 447: 'Eagle Eye',
 448: 'Cold Mountain',
 449: 'The Book of Eli',
 450: 'Flubber',
 451: 'The Haunting',
 452: 'Space Jam',
 453: 'The Pink Panther',
 454: 'The Day the Earth Stood Still',
 455: 'Conspiracy Theory',
 456: 'Fury',
 457: 'Six Days Seven Nights',
 458: 'Yogi Bear',
 459: 'Spirit: Stallion of the Cimarron',
 460: 'Zookeeper',
 461: 'Lost in Space',
 462: 'The Manchurian Candidate',
 463: 'Déjà Vu',
 464: 'Hotel Transylvania 2',
 465: 'Fantasia 2000',
 466: 'The Time Machine',
 467: 'Mighty Joe Young',
 468: 'Swordfish',
 469: 'The Legend of Zorro',
 470: 'What Dreams May Come',
 471: 'Little Nicky',
 472: 'The Brothers Grimm',
 473: 'Mars Attacks!',
 474: 'Évolution',
 475: 'The Edge',
 476: 'Surrogates',
 477: 'Thirteen Days',
 478: 'Daylight',
 479: 'Walking With Dinosaurs',
 480: 'Battlefield Earth',
 481: 'Looney Tunes: Back in Action',
 482: 'Nine',
 483: 'Timeline',
 484: 'The Postman',
 485: 'Babe: Pig in the City',
 486: 'The Last Witch Hunter',
 487: 'Red Planet',
 488: 'Arthur et les Minimoys',
 489: 'Oceans',
 490: 'A Sound of Thunder',
 491: 'Pompeii',
 492: 'Don Gato: El inicio de la pandilla',
 493: 'A Beautiful Mind',
 494: 'The Lion King',
 495: 'Journey 2: The Mysterious Island',
 496: 'Cloudy with a Chance of Meatballs 2',
 497: 'Red Dragon',
 498: 'Hidalgo',
 499: 'Jack and Jill',
 500: '2 Fast 2 Furious',
 501: 'The Little Prince',
 502: 'The Invasion',
 503: 'The Adventures of Rocky & Bullwinkle',
 504: 'The Secret Life of Pets',
 505: 'The League of Extraordinary Gentlemen',
 506: 'Despicable Me 2',
 507: 'Independence Day',
 508: 'The Lost World: Jurassic Park',
 509: 'Madagascar',
 510: 'Children of Men',
 511: 'X-Men',
 512: 'Wanted',
 513: 'The Rock',
 514: 'Ice Age: The Meltdown',
 515: '50 First Dates',
 516: 'Hairspray',
 517: 'Exorcist: The Beginning',
 518: 'Inspector Gadget',
 519: 'Now You See Me',
 520: 'Grown Ups',
 521: 'The Terminal',
 522: 'Hotel for Dogs',
 523: 'Vertical Limit',
 524: "Charlie Wilson's War",
 525: 'Shark Tale',
 526: 'Dreamgirls',
 527: 'Be Cool',
 528: 'Munich',
 529: 'Tears of the Sun',
 530: 'Killers',
 531: 'The Man from U.N.C.L.E.',
 532: 'Spanglish',
 533: 'Monster House',
 534: 'Bandits',
 535: 'First Knight',
 536: 'Anna and the King',
 537: 'Immortals',
 538: 'Hostage',
 539: 'Titan A.E.',
 540: 'Hollywood Homicide',
 541: 'Soldier',
 542: 'Carriers',
 543: 'Monkeybone',
 544: 'Flight of the Phoenix',
 545: 'Unbreakable',
 546: 'Minions',
 547: 'Sucker Punch',
 548: 'Snake Eyes',
 549: 'Sphere',
 550: 'The Angry Birds Movie',
 551: "Fool's Gold",
 552: 'Funny People',
 553: 'The Kingdom',
 554: 'Talladega Nights: The Ballad of Ricky Bobby',
 555: 'Dr. Dolittle 2',
 556: 'Braveheart',
 557: 'Jarhead',
 558: 'The Simpsons Movie',
 559: 'The Majestic',
 560: 'Driven',
 561: 'Deux frères',
 562: 'The Village',
 563: 'Doctor Dolittle',
 564: 'Signs',
 565: 'Shrek 2',
 566: 'Cars',
 567: 'Runaway Bride',
 568: 'xXx',
 569: 'The SpongeBob Movie: Sponge Out of Water',
 570: 'Ransom',
 571: 'Inglourious Basterds',
 572: 'Hook',
 573: 'Die Hard 2',
 574: 'S.W.A.T.',
 575: 'Vanilla Sky',
 576: 'Lady in the Water',
 577: 'AVP: Alien vs. Predator',
 578: 'Alvin and the Chipmunks: The Squeakquel',
 579: 'We Were Soldiers',
 580: 'Olympus Has Fallen',
 581: 'Star Trek: Insurrection',
 582: 'Battle: Los Angeles',
 583: 'Big Fish',
 584: 'Wolf',
 585: 'War Horse',
 586: 'The Monuments Men',
 587: 'The Abyss',
 588: 'Wall Street: Money Never Sleeps',
 589: 'Dracula Untold',
 590: 'The Siege',
 591: 'Stardust',
 592: 'Seven Years in Tibet',
 593: 'The Dilemma',
 594: 'Bad Company',
 595: 'Doom',
 596: 'I Spy',
 597: 'Underworld: Awakening',
 598: 'Rock of Ages',
 599: "Hart's War",
 600: 'Killer Elite',
 601: 'Rollerball',
 602: 'Ballistic: Ecks vs. Sever',
 603: 'Hard Rain',
 604: 'Osmosis Jones',
 605: "Legends of Oz: Dorothy's Return",
 606: 'Blackhat',
 607: 'Sky Captain and the World of Tomorrow',
 608: 'Basic Instinct 2',
 609: 'Escape Plan',
 610: 'The Legend of Hercules',
 611: 'The Sum of All Fears',
 612: 'The Twilight Saga: Eclipse',
 613: 'The Score',
 614: 'Despicable Me',
 615: 'Money Train',
 616: 'Ted 2',
 617: 'Agora',
 618: 'Mystery Men',
 619: 'Hall Pass',
 620: 'The Insider',
 621: 'The Finest Hours',
 622: 'Body of Lies',
 623: 'Dinner for Schmucks',
 624: 'Abraham Lincoln: Vampire Hunter',
 625: 'Entrapment',
 626: 'The X Files',
 627: 'The Last Legion',
 628: 'Saving Private Ryan',
 629: 'Need for Speed',
 630: 'What Women Want',
 631: 'Ice Age',
 632: 'Dreamcatcher',
 633: 'Lincoln',
 634: 'The Matrix',
 635: 'Apollo 13',
 636: 'The Santa Clause 2',
 637: 'Les Misérables',
 638: "You've Got Mail",
 639: 'Step Brothers',
 640: 'The Mask of Zorro',
 641: 'Due Date',
 642: 'Unbroken',
 643: 'Space Cowboys',
 644: 'Cliffhanger',
 645: 'Broken Arrow',
 646: 'The Kid',
 647: 'World Trade Center',
 648: 'Mona Lisa Smile',
 649: 'The Dictator',
 650: 'Eyes Wide Shut',
 651: 'Annie',
 652: 'Focus',
 653: 'This Means War',
 654: 'Blade: Trinity',
 655: 'Red Dawn',
 656: 'Primary Colors',
 657: 'Resident Evil: Retribution',
 658: 'Death Race',
 659: 'The Long Kiss Goodnight',
 660: 'Proof of Life',
 661: 'Zathura: A Space Adventure',
 662: 'Fight Club',
 663: 'We Are Marshall',
 664: 'Hudson Hawk',
 665: 'Lucky Numbers',
 666: 'I, Frankenstein',
 667: 'Oliver Twist',
 668: 'Elektra',
 669: 'Sin City: A Dame to Kill For',
 670: 'Random Hearts',
 671: 'Everest',
 672: 'Perfume: The Story of a Murderer',
 673: 'Austin Powers in Goldmember',
 674: 'Astro Boy',
 675: 'Jurassic Park',
 676: 'Wyatt Earp',
 677: 'Clear and Present Danger',
 678: '天將雄師',
 679: 'Little Man',
 680: 'U-571',
 681: 'The American President',
 682: 'The Love Guru',
 683: '3000 Miles to Graceland',
 684: 'The Hateful Eight',
 685: 'Blades of Glory',
 686: 'Hop',
 687: '300',
 688: 'Meet the Fockers',
 689: 'Marley & Me',
 690: 'The Green Mile',
 691: 'Wild Hogs',
 692: 'Chicken Little',
 693: 'Gone Girl',
 694: 'The Bourne Identity',
 695: 'GoldenEye',
 696: "The General's Daughter",
 697: 'The Truman Show',
 698: 'The Prince of Egypt',
 699: 'Daddy Day Care',
 700: '2 Guns',
 701: 'Cats & Dogs',
 702: 'The Italian Job',
 703: 'Two Weeks Notice',
 704: 'Antz',
 705: 'Couples Retreat',
 706: 'Days of Thunder',
 707: 'Cheaper by the Dozen 2',
 708: 'Maze Runner: The Scorch Trials',
 709: 'Eat Pray Love',
 710: 'The Family Man',
 711: 'RED',
 712: 'Any Given Sunday',
 713: 'The Horse Whisperer',
 714: 'Collateral',
 715: 'The Scorpion King',
 716: 'Ladder 49',
 717: 'Jack Reacher',
 718: 'Deep Blue Sea',
 719: "Michael Jackson's This Is It",
 720: 'Contagion',
 721: 'Kangaroo Jack',
 722: 'Coraline',
 723: 'The Happening',
 724: 'Man on Fire',
 725: 'The Shaggy Dog',
 726: 'Starsky & Hutch',
 727: 'Jingle All the Way',
 728: 'Hellboy',
 729: 'A Civil Action',
 730: 'ParaNorman',
 731: 'The Jackal',
 732: 'Paycheck',
 733: 'Up Close & Personal',
 734: 'The Tale of Despereaux',
 735: 'The Tuxedo',
 736: 'Under Siege 2: Dark Territory',
 737: 'Jack Ryan: Shadow Recruit',
 738: 'Joy',
 739: 'London Has Fallen',
 740: 'Alien: Resurrection',
 741: 'Shooter',
 742: 'The Boxtrolls',
 743: 'Practical Magic',
 744: 'The Lego Movie',
 745: 'Miss Congeniality 2: Armed and Fabulous',
 746: 'Reign of Fire',
 747: 'Gangster Squad',
 748: 'Year One',
 749: 'Invictus',
 750: 'State of Play',
 751: 'Duplicity',
 752: 'My Favorite Martian',
 753: 'The Sentinel',
 754: 'Planet 51',
 755: 'Star Trek: Nemesis',
 756: 'Intolerable Cruelty',
 757: 'Trouble with the Curve',
 758: 'Edge of Darkness',
 759: 'The Relic',
 760: 'Analyze That',
 761: 'Righteous Kill',
 762: 'Mercury Rising',
 763: 'The Soloist',
 764: 'The Legend of Bagger Vance',
 765: 'Almost Famous',

In [82]:
pickle.dump(similarity,open('similarity.pkl','wb'))